/* Resets */
body, p {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

/* Layout */
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

/* Typography */
:root {
    font-family: 'Inter', sans-serif;
}

.board-table {
    font-family: 'Lexend Deca', sans-serif;
}

/* Colors */
.col_purple {
    color: #aa5cdb;
}

/* Components */
body {
    color: #fff;
    background-color: #0a0c1b;
}

.section {
    background-color: #1c1937;
    border-radius: 10px;
    margin: 100px 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.board {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.board-title {
    font-size: 32px;
    font-weight: bold;
}

.board-description {
    color: #c5c4d6;
    line-height: 1.5;
    margin: 30px 0 40px;
}

.board-table {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.board-table-col:nth-child(odd) {
    font-size: 28px;
}

.board-table-col:nth-child(even) {
    color: #c5c4d6;
}

.cover {
    width: 50%;
    position: relative;
    flex-shrink: 0;
}

.cover:before {
    content: '';
    background-color: #8e1ed3;
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

/* Media Queries */
@media (max-width: 900px) {
    .section {
        flex-direction: column;
        text-align: center;
    }
    .board-table {
        display: block;
    }
    .board-table-row + .board-table-row {
        margin-top: 20px;
    }
    .cover {
        width: 100%;
    }
}